@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.1;
  scroll-behavior: smooth;
}

:root{
  --primary: #000;
  --secondary: #18181b;
  --randomColor: #3f3f46;
  --borderColor: #3f3f460a;
  --title: #F4F4F5;
  --subtitle: #A1A1AA;
  --custom-blue: #5DBCFC;
  --headerBg: #27272a;
  --salmon: #F4A560;
  --card-border: #5DBCFC;
}
.light_mode{
  --primary: #fff
}
body{
  background-color: var(--primary);
  color: #fff;
}

/* input, textarea {
  all: unset;
} */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #202c3b;
  border-radius: 7px;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);

  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}