@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto', sans-serif;
}

:root{
  --primary: #000;
  --secondary: #18181B;
  --borderColor: rgba(63,63,70,.04);
  --title: #F4F4F5;
  --subtitle: #A1A1AA;
  --custom-blue: #5DBCFC;
}
.light_mode{
  --primary: #fff
}
body{
  background-color: var(--primary);
  color: #fff;
}